{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h2 class="text-center primary mb-4">Nos cours phares</h2>

		<div class="row justify-content-center align-items-stretch">
			{% for theme in themes %}
				<div class="col-md-5 mx-2 mb-4">
					<div class="card shadow-lg h-100" style="background-color: #f1f8fc; color: #384050;">
						<div
							class="card-body d-flex flex-column justify-content-between">
							<h5 class="card-title text-center primary">{{ theme.theme.name }}</h5>

							<div class="mt-3">
								{% for cursus in theme.theme.cursuses %}
									<p class="text-center secondary">
										<strong>{{ cursus.name }}</strong>
									</p>

									<ul>
										{% for lesson in cursus.lessons %}
											<li class="text-center">{{ lesson.name }}</li>
										{% endfor %}
									</ul>
								{% endfor %}
							</div>

							<div class="mt-3 text-center">
								<p class="fw-bold">Prix total des cursus :
									<span class="accent-green">{{ theme.total_price }}
										€</span>
								</p>
							</div>

							<div class="text-center mt-4">
								<a href="/theme/{{ theme.theme.id }}" class="btn button w-75">Découvrir</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
