{% extends 'base.html.twig' %}

{% block title %}Modifier le produit :
	{{ cursus.name }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center primary">Modifier le cursus</h1>

		<div class="card shadow p-4" style="background-color: #f1f8fc; color: #384050;">
			{{ form_start(form, { attr: { class: 'row g-3' } }) }}

			<div class="col-md-6">
				{{ form_row(form.name, {
                    label_attr: { class: 'form-label secondary' },
                    attr: { class: 'form-control' }
                }) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.description, {
                    label_attr: { class: 'form-label secondary' },
                    attr: { class: 'form-control' }
                }) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.theme, {
                    label_attr: { class: 'form-label secondary' },
                    attr: { class: 'form-control' }
                }) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.price, {
                    label_attr: { class: 'form-label secondary' },
                    attr: { class: 'form-control' }
                }) }}
			</div>

			<div class="col-12 text-center">
				<button type="submit" class="w-50 button">Enregistrer les modifications</button>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
